<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label "Select a restaurant to review" %><br>
    <%= f.select :restaurant_id, Restaurant.all.map {|r| [r.name] }, :selected => Restaurant.find_by_id(@review.restaurant_id).name %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :cols => "45", :rows => "15" %>
  </div>
  <div class="field">
    <%= f.label "Rate this restaurant from 1 to 5" %><br>
    <%= f.number_field :rating, :min => 1, :max => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
