<% if notice %>
  <div data-alert class="alert-box success">
      <strong><%= notice %></strong>
      <a href="#" class="close">&times;</a>
  </div>
<% else %>
<% end %>

<div align = "center">
  <div>
    <% @reviews.each do |review| %>
          <h3 class = "sub-head"><strong><%= review.author %></strong> Reviews <%= Restaurant.find_by_id(review.restaurant_id).name %></h3><br>
          <%= image_tag("http://www.public-domain-photos.com/free-stock-photos-4/food/crawfish-3.jpg") %>
          <p>Reviewer's rating:<%= review.rating %> out of 5<br><br>
          <div class="main-body-text"><%= truncate(review.body, :length => 1500) %></div>
          <strong><%= link_to 'Continue Reading', review %></strong>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></p><br>
    <% end %>
  </div>  
</div>  



  

