<% if notice %>
  <div data-alert class="alert-box success">
      <strong><%= notice %></strong>
      <a href="#" class="close">&times;</a>
  </div>
<% else %>
<% end %>

<ul class="main-rev-cont">
    <% @reviews.each do |review| %>
      <li>
          <strong><%= review.author %></strong> Reviews <%= Restaurant.find_by_id(review.restaurant_id).name %><br>
          Reviewer's rating:<%= review.rating %> out of 5<br><br>
          <%= truncate(review.body, :length => 800) %>
          <%= link_to 'Show', review %>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br><br><br><br>
      </li>
    <% end %>
</ul>    
  

